.App{
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  justify-items: center;
}
.Panel{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Panel h2{
  height: 15px;
  text-align: center;
  flex: 0 0 100%;
  padding: 10px;
}

.NumberButton{
  width: 60px;
  height: 60px;
}

button{
  transition: 0.2s;
  font-size: 20px;
  width: 130px;
  background-color: #f9ffef;
  opacity: 1;
}
.Container{

  width: 100%;
  display: grid;
  grid-template-columns: 450px;
  justify-items: center;
  justify-content: center;
}
.ButtonContainer{
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button:active{
  opacity: 0.2;
}
.cell{
  transition: 0.3s;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cell:active{
  border: rgb(110, 0, 0) solid;
}
.sudokuField{
  transition: 0.4s;
  grid-gap: 0;
  margin: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
}
.sudokuField .cell:nth-child(3n) {
  border-right: 2px solid #333;
}
.sudokuField .cell:nth-child(9n) {
  border-right: 1px solid #333;
}
.sudokuField .cell:nth-child(n+28):nth-child(-n+36),
.sudokuField .cell:nth-child(n+55):nth-child(-n+63) {
  border-top: 2px solid #333;
}