*{
    margin:0;
}

form{
    margin:20px;
    display: flex;
}

form .main-block{
    position: absolute;
}

form .sec-block{
    margin-left: 350px;
    margin-top: 33px;
}

form .main-block div{
    display: flex;
    position:relative;
}
form .main-block label{
    position:absolute;
    width: 200px;
    left: 0;
}

input{
    width:80px;
}
.height, .width, .diametr{
    margin-bottom: 10px;
    margin-left: 200px;
}

.button{
    margin:20px;
}

.container{
    margin:50px;
    flex-wrap: nowrap;
    text-align:center;
    margin-left:10%;
    margin-top: 200px;
}

.newButton{
    display: flex;
    justify-content: left;
    margin-left: 43%;
}

img{
    margin: 10px;
    z-index: 1000;
    position:relative;
}

.ball{
    position:relative;
    z-index: 100;
    right: 640px;
}

.upCup{
    bottom: 100px;
}

.endOfGame{
    position:absolute;
    color: red;
    font-size: 30px;
    margin: 100px;
    margin-left: 200px;
}